@import url(./__close-button/image-container__close-button.css);
@import url(./__content/image-container__content.css);
@import url(./__image/image-container__image.css);

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    display: none;
}
